![logo](banner.jpg)

<h1><center><span style="color:blue">TASCA 8 - IT Academy</span></center></h1>
<h2><center><span style="color:blue">Curs Data Science</span></center></h2>

In [225]:
import pandas as pd
import numpy as np
from numpy import random
import pandas as pd
from datetime import datetime
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [80]:
file = pd.read_csv('athlete_events.csv')
file.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
file.shape

(271116, 15)

In [5]:
file.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [6]:
type(file)

pandas.core.frame.DataFrame

In [7]:
file.shape

(271116, 15)

In [8]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

### <span style="color:black">Exercici 1.</span>

__Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica:__ <span style="color:blue">__[X] Fet__</span>

In [ ]:
# MUESTREO ALEATORIO SIMPLE
# Vamos a seleccionar nuestra muestra e intentar averiguar la estatura media de los jugadores olímpicos

In [30]:
file['Height'] = file['Height'].fillna(file['Height'].mean())

In [66]:
# Para nuestra muestra, seleccionamos aproximadamente el 10% de la población.

population = file
k = 2800
dbSample = population.sample(k)

In [32]:
dbSample.shape

(2800, 15)

In [33]:
dbSample.describe().round(2) # La estatura media es de 175.24 cm

              ID      Age   Height  Weight     Year
count    2800.00  2689.00  2800.00  2118.0  2800.00
mean    68650.65    25.70   175.24    70.5  1977.12
std     38705.04     6.52     9.06    13.9    30.70
min        20.00    13.00   136.00    30.0  1896.00
25%     35604.00    21.00   170.00    61.0  1960.00
50%     68782.00    25.00   175.34    70.0  1984.00
75%    102165.00    28.00   180.00    79.0  2002.00
max    135422.00    74.00   217.00   137.5  2016.00

In [ ]:
# MUESTREO SISTEMÁTICO
# Vamos a seleccionar los sujetos (columna 'Nombre') de nuestra población y averiguar de nuevo la estatura media 
# con el método de muestreo sistemático.

In [57]:
def systematic_sampling(file, step):
    
    indexes = np.arange(0,len(file),step=step)
    systematic_sample = file.iloc[indexes]
    return systematic_sample

In [62]:
sistematico = systematic_sampling(file, 50)

In [63]:
sistematico.shape

(5423, 15)

In [65]:
sistematico['Height'].mean().round(2) # El resultado de la media de altura de jugadores olímpicos es la misma

175.24

### <span style="color:black">Exercici 2.</span>

__Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique):__ <span style="color:blue">__[X] Fet__</span>

In [ ]:
# GENERANT UNA MOSTRA ESTRATIFICADA #

In [5]:
from sklearn.model_selection import train_test_split

In [103]:
fileStratified = file.groupby('Year', group_keys = True).apply(pd.DataFrame.sample, frac=0.011)
fileStratified.head()

                 ID                              Name Sex   Age     Height  \
Year
1896 97184    49185                     Fritz Hofmann   M  24.0  167.00000
     188549   94715  Periklis Pierrakos-Mavromikhalis   M   NaN  175.33897
     258382  129377    Hermann Otto Ludwig Weingrtner   M  31.0  175.33897
     117038   59266     Spyridon P. "Spyros" Khazapis   M   NaN  175.33897
1900 26977    14026                         Boulanger   M   NaN  175.33897

             Weight     Team  NOC        Games  Year  Season    City  \
Year
1896 97184     56.0  Germany  GER  1896 Summer  1896  Summer  Athina
     188549     NaN   Greece  GRE  1896 Summer  1896  Summer  Athina
     258382     NaN  Germany  GER  1896 Summer  1896  Summer  Athina
     117038     NaN   Greece  GRE  1896 Summer  1896  Summer  Athina
1900 26977      NaN   France  FRA  1900 Summer  1900  Summer   Paris

                  Sport                                            Event  \
Year
1896 97184    Athletics                      Athletics Men's Triple Jump
     188549     Fencing                   Fencing Men's Foil, Individual
     258382  Gymnastics                     Gymnastics Men's Horse Vault
     117038    Swimming  Swimming Men's 100 metres Freestyle For Sailors
1900 26977   Gymnastics           Gymnastics Men's Individual All-Around

              Medal
Year
1896 97184      NaN
     188549  Bronze
     258382  Bronze
     117038  Silver
1900 26977      NaN

In [104]:
type(fileStratified)

pandas.core.frame.DataFrame

In [105]:
fileStratified.describe().round()

             ID     Age  Height  Weight    Year
count    2982.0  2891.0  2982.0  2284.0  2982.0
mean    68401.0    26.0   176.0    71.0  1978.0
std     38925.0     7.0     9.0    14.0    30.0
min        22.0    13.0   127.0    33.0  1896.0
25%     34731.0    21.0   171.0    61.0  1960.0
50%     68246.0    25.0   175.0    70.0  1988.0
75%    101422.0    28.0   180.0    80.0  2002.0
max    135557.0    72.0   215.0   175.0  2016.0

In [107]:
fileStratified.Year.unique()

array([1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936,
       1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988,
       1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012,
       2014, 2016], dtype=int64)

In [108]:
fileStratified.shape

(2982, 15)

In [109]:
fileStratified.Height.mean().round(2) #La media de altura estratificada por países se asemeja mucho a las medias 
                                        #obtenidas con los metodos de muestreo anteriores

175.67

In [112]:
file1992 = fileStratified[fileStratified['Year'] == 1992]
file1992

                 ID                     Name Sex   Age     Height  Weight  \
Year
1992 165780   83269  Lothar Christian Munder   M  29.0  188.00000    88.0
     226947  114049          Saleerat Srimek   F  19.0  163.00000    47.0
     152636   76596       Masayuki Matsunaga   M  22.0  158.00000    53.0
     140109   70344           Nils Linneberg   M  24.0  180.00000    87.0
     265516  132856     Wi Jin "Kenneth" Yeo   M  18.0  175.33897     NaN
...             ...                      ...  ..   ...        ...     ...
     67943    34713              Attila Feri   M  23.0  175.00000    71.5
     241784  121102            Liliana Topea   F  25.0  175.33897     NaN
     8660      4756             Fabio Aquino   M  24.0  175.33897     NaN
     155805   78219              Armin Meier   M  22.0  178.00000    69.0
     38881    20007         Annabel Chaulvin   F  27.0  173.00000    62.0

                           Team  NOC        Games  Year  Season         City  \
Year
1992 165780              Brazil  BRA  1992 Winter  1992  Winter  Albertville
     226947            Thailand  THA  1992 Summer  1992  Summer    Barcelona
     152636               Japan  JPN  1992 Summer  1992  Summer    Barcelona
     140109               Chile  CHI  1992 Winter  1992  Winter  Albertville
     265516           Singapore  SGP  1992 Summer  1992  Summer    Barcelona
...                         ...  ...          ...   ...     ...          ...
     67943              Romania  ROU  1992 Summer  1992  Summer    Barcelona
     241784             Austria  AUT  1992 Summer  1992  Summer    Barcelona
     8660    Dominican Republic  DOM  1992 Summer  1992  Summer    Barcelona
     155805         Switzerland  SUI  1992 Summer  1992  Summer    Barcelona
     38881               France  FRA  1992 Summer  1992  Summer    Barcelona

                     Sport                                   Event Medal
Year
1992 165780  Alpine Skiing            Alpine Skiing Men's Combined   NaN
     226947      Athletics  Athletics Women's 4 x 400 metres Relay   NaN
     152636     Gymnastics  Gymnastics Men's Individual All-Around   NaN
     140109  Alpine Skiing            Alpine Skiing Men's Downhill   NaN
     265516       Swimming     Swimming Men's 400 metres Freestyle   NaN
...                    ...                                     ...   ...
     67943   Weightlifting         Weightlifting Men's Lightweight   NaN
     241784       Handball               Handball Women's Handball   NaN
     8660         Baseball                 Baseball Men's Baseball   NaN
     155805        Cycling     Cycling Men's Road Race, Individual   NaN
     38881         Sailing       Sailing Women's One Person Dinghy   NaN

[181 rows x 15 columns]

In [113]:
file1992.Height.mean().round(2), file1992.Height.std().round(2)

(177.04, 10.06)

In [114]:
file1992.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 181 entries, (1992, 165780) to (1992, 38881)
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      181 non-null    int64
 1   Name    181 non-null    object
 2   Sex     181 non-null    object
 3   Age     181 non-null    float64
 4   Height  181 non-null    float64
 5   Weight  140 non-null    float64
 6   Team    181 non-null    object
 7   NOC     181 non-null    object
 8   Games   181 non-null    object
 9   Year    181 non-null    int64
 10  Season  181 non-null    object
 11  City    181 non-null    object
 12  Sport   181 non-null    object
 13  Event   181 non-null    object
 14  Medal   14 non-null     object
dtypes: float64(3), int64(2), object(10)
memory usage: 109.9+ KB

In [115]:
file_train, file_test = train_test_split(file, test_size=2800, stratify = file['Year'])

In [116]:
file_test.shape, file_train.shape

((2800, 15), (268316, 15))

In [117]:
file_test.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
245218,122790,Mario Stanlej Turner,M,25.0,168.00000,63.0,Italy,ITA,1976 Summer,1976,Summer,Montreal,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",NaN
122570,61957,Doris Kohardt,F,17.0,168.00000,57.0,East Germany,GDR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 200 metres Backstroke,NaN
268192,134173,Arthur Zborzil,M,22.0,175.33897,NaN,Austria,AUT,1908 Summer,1908,Summer,London,Tennis,Tennis Men's Doubles,NaN
90850,46030,Derradji Harek,M,20.0,175.00000,63.0,Algeria,ALG,1980 Summer,1980,Summer,Moskva,Athletics,"Athletics Men's 1,500 metres",NaN
246000,123185,Jen Uhlyrik,M,30.0,175.33897,NaN,Hungary,HUN,1924 Summer,1924,Summer,Paris,Fencing,"Fencing Men's Sabre, Team",Silver

In [122]:
file_test.Height.mean().round(2) # la media de altura con una muestra estratificada es de 175,47cm

175.47

In [ ]:
# GENERANDO UNA MOSTRA SMOTE #

In [ ]:
# Vamos a realizar un oversampling por Edad de nuestro Dataset. Para ello, y para que el ejemplo sea más claro, vamor a unificar
# los rangos de edad de 10-35 años y de 36-100 años.

In [81]:
import imblearn
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier

In [197]:
# Cargamos de nuevo el dataset

file = pd.read_csv('athlete_events.csv')

In [198]:
# Primero comprovamos los valores NaN

total_nan_values = file.isna().sum()
print ("Total Number of NaN values: "+'\n'+str(total_nan_values))

Total Number of NaN values:
ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [199]:
# Vamos a sustituir los NaN  de 'Weight' (que será nuestro valor x cuando apliquemos SMOUT) y 'Age' (que será nuestro valor y
# cuando apliquemos SMOUT) por sus respectivos valores medios

file['Weight'].mean(), file['Age'].mean()

(70.70239290053351, 25.556898357297374)

In [200]:
mean = 71
file['Weight']=file['Weight'].replace(np.nan, mean)

In [201]:
promedio=26
file['Age']=file['Age'].replace(np.nan, promedio)

In [202]:
# Comprobamos que ya no hay NaN en ambas columnas

total_nan_values = file.isna().sum()
print ("Total Number of NaN values: "+'\n'+str(total_nan_values))

Total Number of NaN values:
ID             0
Name           0
Sex            0
Age            0
Height     60171
Weight         0
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [203]:
bins = [10, 35, 97] # Definimos los grupos de edad comentados anteriormente para crear datos imbalanced por Edad

In [204]:
names = ['0', '1'] # 0: menor de 35 años; 1: mayor de 35 años

In [205]:
file['Age'] = pd.cut(file['Age'], bins, labels = names)

In [206]:
file.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,0,NaN,71.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [207]:
file['Weight']=file['Weight'].round(0).astype(int)
file.head(3)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,0,180.0,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,0,170.0,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,0,NaN,71,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

In [208]:
file['Age'].dtypes, file['Weight'].dtypes

(CategoricalDtype(categories=['0', '1'], ordered=True), dtype('int32'))

In [217]:
# Ahora vemos que nuestro dataset está notablemente imbalanced por la variable 'Age'.

file.Age.value_counts()

0    254731
1     16384
Name: Age, dtype: int64

In [218]:
# Antes de hacer el SMOUT vamos a entrenar nuestros datos. 

from sklearn.model_selection import train_test_split

x = file.Weight.values
y = file.Age.values
x = x.reshape(-1,1) # Super importante hacer el reshape, sino dará error

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [219]:
# Comprobamos de nuevo los valores y_train 

y_train.value_counts()

0    203750
1     13142
dtype: int64

In [220]:
smt = SMOTE()
X_train, y_train = smt.fit_resample(X_train, y_train)

In [222]:
# Comprobamos que la dimensión 'Age' ha sido balanceada. 

np.array(np.unique(y_train, return_counts=True)).T

array([['0', 203750],
       ['1', 203750]], dtype=object)

### <span style="color:black">Exercici 3.</span>

__Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling:__ <span style="color:blue">__[X] Fet__</span>

In [ ]:
# Vamos a ver cual es la altura media de los jugadores olímpicos aplicando Reservoir sampling

In [235]:
# Comprobamos si los datos tienen NaN, y los sustituimos por su valor medio.

total_nan_values = file.isna().sum()
print ("Total Number of NaN values: "+'\n'+str(total_nan_values))

Total Number of NaN values:
ID             0
Name           0
Sex            0
Age            1
Height     60171
Weight         0
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [236]:
file['Height'] = file['Height'].fillna(file['Height'].mean())

In [237]:
# Definimos una función para seleccionar elementos aleatoriamente:

def selectKItems(stream, n, k):
        i=0
        reservoir = [0]*k;
        for i in range(k):
            reservoir[i] = stream[i];
        while(i < n):
            j = random.randrange(i+1);
            if(j < k):
                reservoir[j] = stream[i];
            i+=1
        print("La media de altura con Reservoir Sampling (k=2800) es:", np.mean(reservoir).round(2))
        print("A continuación se muestran k (2800) elementos seleccionados al azar:")
        print(reservoir,k)

In [238]:
# Ejecutamos el código para obtener una muestra de k=2800, y vemos que la media de altura con el muestreo Reservoir Sampling 
# es de 175.26 cm, prácticamente idéntico a los muestreos anteriores.
 
if __name__ == "__main__":
    stream = file['Height'].round(2)
    n = len(stream)
    k = 2800
    selectKItems(stream, n, k)

La media de altura con Reservoir Sampling (k=2800) es: 175.26
A continuación se muestran k (2800) elementos seleccionados al azar: